@import "theme.css";

.gif-picker {@apply w-3/4}

.gif-picker {
    @apply grid grid-cols-3 md:grid-cols-4;
    background-color: var(--color-sky-50);
    /*border: 10px solid lightgray;*/
    border-radius: 10px;
    box-shadow: 0 0 8px #dddddd;

    display: grid;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
    max-height: inherit;

    overflow: auto;

    padding: 8px;

    top: 8px;

}

.gif-picker-item {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 0 0 4px #dddddd;

    cursor: pointer;

    font-size: 16px;

    align-items: center;
    display: flex;
    flex-direction: row;

    padding: 8px;
}

.gif-picker-item:hover,
.gif-picker-item.selected {
    background-color: lightgray;
}
